$standardColors: (
    primary: #284047,
    textColor: #3C3C3C,
    support1: rgb(129, 129, 129),
    support2: #E4E4E4,
    support3: #192629
);
@function colors($color-name) {
    @return map-get($standardColors, $color-name)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
    background-color: colors(support2);
}


// nav setup
nav {
    text-transform: uppercase;
    box-shadow: 0;
}
.coloredNav {
    background: colors(primary);
    transition: 0.5s ease;
}
.nav-wrapper #menu {
    display: none;
}
nav .brand-logo {
    font-size: 2.1rem;
}
// Side Nav
.sidenav {
    .img {
        background: colors(primary);
    }
}

// Main Section
.main {
    background: linear-gradient(rgba(6,43,46,0.9), rgba(6, 43, 46, 0.2)), url(/img/portfolioBG.jpg);
    height: 70vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}
.header {
    text-align: center;
    h1 {
        opacity: 0;
        margin-top: 60px;
        font-weight: 500;
        letter-spacing: 3px;
        text-align: center;

        animation: fadeInDown 1s forwards;
        animation-delay: 1s;

        @keyframes fadeInDown {
            0% {
                opacity: 0;
                transform: translateX(-200px);
            }
            50% {
                transform: translateX(-0px);
            }
            75% {
                transform: translateX(-20px);
            }
            100% {
                opacity: 1;
                transform: translateX(0px);
            }
        }
    }
    h4 {
        opacity: 0;
        animation: fadeInUp 1s forwards;
        animation-delay: 1s;

        @keyframes fadeInUp {
            0% {
                opacity: 0;
                transform: translateX(200px);
            }
            50% {
                transform: translateX(-0px);
            }
            75% {
                transform: translateX(20px);
            }
            100% {
                opacity: 1;
                transform: translateX(0px);
            }
        }
    }
    img {
        margin-top: 100px;
        cursor: pointer;
        opacity: 0;
        animation: arrowJump 1s infinite;
        animation-delay: 2s;

        @keyframes arrowJump {
            0% {
                opacity: 0.7;
                transform: translateY(0px);
            }
            50% {
                opacity: 0.7;
                transform: translateY(-50px);
            }
            75% {
                opacity: 0.7;
                transform: translateY(0px);
            }
            80% {
                opacity: 0.7;
                transform: translateY(-10px);
            }
            100% {
                opacity: 0.7;
                transform: translateY(0px);
            }
        }
    }
}

// Portfolio Section
.portfolio {
    position: relative;
    background: #fff;
    padding: 30px 0;
    
    h3 {
        color: colors(support1);
        font-weight: bold;
    }
    .bar {
        margin: 0 auto;
        height: 3px;
        width: 120px;
        background-color: colors(primary);
        margin-bottom: 30px;
    }
    .card {
        margin-top: 20px;
    }
}

// Contact Section
.contact {
    position: relative;
    background: rgb(240, 240, 240);
    padding: 25px 0;

    .centerItems {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    h3 {
        font-weight: 600;
        color: colors(primary);
        padding-bottom: 30px;
    }
    img {
        height: 100px;
        width: 100px;
    }
    img:hover {
        animation-name: jump;
        animation-duration: 1s;

        @keyframes jump {
            0% {
                transform: translateY(0px);
            }
            50% {
                transform: translateY(-20px);
            }
            75% {
                transform: translateY(0px);
            }
            80% {
                transform: translateY(-10px);
            }
            100% {
                transform: translateY(0px);
            }
        }
    }
    span {
        font-size: 13px;
        color: colors(primary);
    }
}

// Footer
footer {
    position: relative;
    background: #192629;
    height: auto;
    width: 100%;
    h5 {
        color: colors(support1);
        margin: 0;
        font-size: 18px;
        padding: 1em 0;
    }
}


