// 4k Resolution
@media screen and (max-width: 2560px) {
    .about {
        .content {
            margin-top: 3.5rem;
        }
    }
}
// Laptop/computer - Large
@media screen and (max-width: 1440px) {
    .about {
        .content {
            margin-top: 0;
        }
    }
}
// Laptop/computer - small to medium
@media screen and (max-width: 1024px) {
    .nav-wrapper #menu {
        display: block;
    }
    nav .brand-logo {
        font-size: 1.4rem;
    }
    // Main Section
    .header {
        img {
            margin-top: 150px;
        }
        h1 {
            margin-top: 35vh;
            font-size: 50px;
        }
        h4 {
            font-size: 25px;
        }
    }
    // About Section
    .about {
        .content {
            margin-top: 1rem;
            span {
                font-size: 20px;
            }
            p {
                font-size: 15px;
            }
            .images {
                .img-list {
                    img {
                        height: 60px;
                        width: 60px;
                    }
                }
            }
        }
    }
    // Portfolio Section 
    .portfolio {
        .card {
            .card-image {
                img {
                    height: 220px;
                }
            }
        }
    }
}
// Tablet screens
@media screen and (max-width: 780px) {
    // About Section
    .about {
        .content {
            margin-top: 0;
            span {
                font-size: 18px;
            }
            .images {
                padding: 10px 0;
                .img-list {
                    img {
                        height: 40px;
                        width: 40px;
                    }
                }
            }
        }
    }
    // Services Section
    .services {
        
        img {
            height: 130px;
            width: 130px;
        }
        h4 {
            font-size: 15px;
        }
        p {
            font-size: 13px;
        }
    }
    // Portfolio Section
    .portfolio {
        .container {
            .row {
                .col {
                    margin-left: 0;
                    .card {
                        img {
                            height: 180px;
                        }
                    }
                }
            }
        }
    }

    // Contact Section
    .contact {
        img {
            height:70px;
            width: 70px;
        }
        span {
            font-size: 11px;
        }
    }
}
// Mobile Phones - Large screens
@media screen and (max-width: 480px) {
    nav .brand-logo {
        font-size: 1.2rem;
    }
    // Main Section
    .header {
        h1 {
            font-size: 32px;
        }
        h4 {
            font-size: 20px;
        }
    }
    // About Section
    .about {
        .content {
            p {
                padding: 10px 0;
            }
        }
        .container {
            span {
                margin: 0;
            }
            p {
                margin: 0;
            }
            .row {
                .col {
                    .row {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
// Mobile phones - small to medium screens
@media screen and (max-width: 360px) {
    nav .brand-logo {
        font-size: 1.2rem;
    }
    // Main Section
    .header {
        h1 {
            font-size: 30px;
            margin-bottom: 5px;
        }
        h4 {
            font-size: 16px;
            margin: 5px 0;
        }
        img {
            height: 40px;
            width: 40px;
        }
    }
    // About Section
    .about {
        padding: 5px 0;

        h3 {
            font-size: 20px;
        }
        .bar {
            width: 70px;
        }
        .content {
            margin-top: 10px;
            span {
                margin: 0;
                font-size: 18px;
            }
            p {
                margin: 0;
                font-size: 13px;
                padding: 10px 0;
            }
            .images {
                margin: 0;
                padding: 10px 0;
                .img-list {
                    img {
                        height: 35px;
                        width: 35px;
                    }
                }
            }
            .row {
                margin-bottom: 0;
            }
        }
    }

    // Services Section
    .services {
        padding: 10px 0;
        h3 {
            font-size: 20px;
        }
        .bar {
            width: 70px;
        }
        img {
            height: 170px;
            width: 17s0px;
        }
        h4 {
            margin: 10px 0;
        }
    }
    // Portfolio Section
    .portfolio {
        padding: 10px 0;
        h3 {
            font-size: 20px;
        }
        .bar {
            width: 70px;
        }
        img {
            height: 200px;
            width: 300px;
        }
        a {
            font-size: 10px;
        }
    }
    // Contact Section
    .contact {
        padding: 10px 0;
        h3 {
            padding-bottom: 10px;
        }
        img {
            height: 50px;
            width: 50px;
        }
    }
}